# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Our folders

build/
xbuild/
xbuild.old/
xbuild.old.old/
Data/
data/
Sequences/
